/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  color: rgb(225, 239, 230);
}

html {
  max-width: 1920px;
  min-width: 428px;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i {
  text-decoration: none;
}

h1 {
  font-size: 7.5rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4rem;
}

p,
a {
  font-size: 3rem;
}

/* header section */
header {
  width: 100%;
  height: 100vh;

  background-image: url('../img/menu-header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

header div {
  background-color: rgb(0, 4, 17, 0.8);
  height: 30%;
  width: 100%;
}

nav div {
  display: flex;
  justify-content: space-evenly;
}
nav div a {
  font-size: 18px;
}
.social i {
  margin: 0 4px;
}
.social {
  display: flex;
  justify-content: space-evenly;
}

/* spacer */
.spacer {
  width: 100%;
  height: 20vh;
  background-color: rgb(0, 4, 17);
}
.spacer-sm {
  width: 100%;
  height: 10vh;
  background-color: rgb(0, 4, 17);
}

/* menu */

.menu {
  background-color: rgb(0, 4, 17, 0.8);
  width: 100%;
  height: auto;
  background-image: url('../img/staff-bartender.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color:rgb(0, 4, 17, 0.8)
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px 0;
  background-color:rgb(0, 4, 17, 0.8)
  
}

.menu-container h2 {
  width: 100%;
  text-align: center;
  font-size: 36px;
  margin-bottom: 16px;
}

.menu-section {
  width: 50%;
  font-size: 30px;
  margin: 16px 0;
  padding: 16px;
}

.menu-item {
  margin: 8px 0;
}

.menu-item h4 {
  font-size: 24px;
}

.menu-item p {
  font-size: 18px;
}

/* footer section */
footer {
  width: 100%;
  height: 15vh;
  padding-top: 2.5vh;
  font-size: 3rem;
  display: flex;
  background: rgb(0, 4, 17);
}
.email {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* mobile media query */
@media (max-width: 428px) {
  /* header section */
  .header-title {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-size: 4rem;
  }
  header {
    font-family: 'roboto', sans-serif;
  }

  header div {
    flex-direction: column;
  }

  nav div {
    font-size: 30px;
  }

  /* menu */
  .menu {
    background-image: none;
  }

  .menu {
    background-color: rgb(225, 239, 230);
  }

  .menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .menu-container h2 {
    text-align: center;
    font-size: 56px;
    text-decoration: underline;
    color: rgb(0, 4, 17);
  }

  .menu-section {
    width: 50%;
    font-size: 45px;
    color: rgb(0, 4, 17);
  }

  .menu-item {
    color: rgb(0, 4, 17);
  }

  .menu-item h4 {
    font-size: 35px;
    color: rgb(0, 4, 17);
    margin: 10px;
  }

  .menu-item p {
    font-size: 25px;
    color: rgb(0, 4, 17);
    text-decoration: underline;
  }

  /* footer section */
  footer {
    height: auto;
    padding-top: 2.5vh;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
  }

  footer nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5%;
  }

  footer h2 {
    font-size: 3rem;
    text-align: center;
  }

  button {
    color: rgb(0, 4, 17);
    align-items: center;
  }

  footer p {
    font-size: 1.5rem;
  }

  footer input {
    align-items: center;
}
